body{
    background-color: rgba(31, 111, 26, 0.565);
    font-family: 'Quicksand', sans-serif;
  }

  nav{
    border:5px groove green;
    display:flex;
    justify-content: space-between;
  }
  
  
  h1{
    border:5px groove blue;
  }
  
  ul{
    border:5px groove red;
    display:flex;
  }
  