body{
    background-color: rgba(161,187,140,0.8);
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
  }

  nav{
    background-color: rgba(0, 0, 0, 0.77);
    display:flex;
    justify-content: space-between;
    padding: 5px 10px;
  }
  
  
  h1{
    margin:0;
  }
  
  ul{
    display:flex;
    align-self: center;
    margin:0;
    padding:0;
    list-style: none;
  }

  li{
    padding:0 5px;
  }

  a{
    color:#fff;
    text-decoration: none;
  }

  header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:10px;
  }

  img{
    max-width: 70%;
    border-radius: 50%;
    box-shadow: rgb(7, 9, 11) 0px 20px 40px -5px;
  }

  h2{
    margin-bottom:0;
  }

  p{
    margin-top: 1rem;
    line-height: 1.6rem;
  }

  @media (min-width: 768px){
    header{
      flex-wrap: nowrap;
      align-items: center;
    }
    img{
      max-width: 40%;
      margin: 3rem;
    }
    header div{
      min-width: 40%;    
    }
  }