:root{
  --navAccent: rgba(0, 0, 0, 0.77);
}

body{
    background-color: rgba(161,187,140,0.8);
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
  }

  nav{
    background-color: var(--navAccent);
    display:flex;
    justify-content: space-between;
    padding: 5px 10px;
    position: sticky;
    top:0;
  }
  
  
  h1{
    margin:0;
  }
  
  ul{
    display:flex;
    align-self: center;
    margin:0;
    padding:0;
    list-style: none;
  }

  li{
    padding:0 0 0 10px;
  }

  a{
    color:#fff;
    text-decoration: none;
  }

  body > header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:10px;
  }

  img{
    max-width: 70%;
    border-radius: 50%;
    box-shadow: rgb(7, 9, 11) 0px 20px 40px -5px;
  }

  h2{
    margin-bottom:0;
  }

  p{
    margin-top: 1rem;
    line-height: 1.6rem;
  }

  section{
    padding:10px
  }

  section div{
    display: flex;
    justify-content: center;  
}

  section div a{
    margin:1rem;
    font-size: 3rem;
}

footer{
  background-color: var(--navAccent);
  color:#fff;
  padding: 1rem;
}

footer p{
  margin:0rem;
  text-align: right;
}
  
/* DESKTOP VIEW */
  @media (min-width: 768px){
    body > header{
      flex-wrap: nowrap;
      align-items: center;
    }

    img{
      max-width: 40%;
      margin: 3rem;
    }

    header div{
      min-width: 40%;    
    }

    section > * {
      max-width: 60%;
    }

    section div{
      margin: 3rem;
    }

    section {
      display: flex;
      align-items: center;
      justify-content: center;
    }


  } 

  /* MOBILNE VIEW*/
  @media (max-width:768px){
    nav{
        height: 2rem;
      }
      
    nav ul {
      flex-direction: column;
      position: fixed;
      top:calc(10px + 2rem);
      right:0;
      height: calc(100% - (10px + 2rem));
      background-color: var(--navAccent);
      width: 40vw;
      text-align: right;
      transition: 0.7s;
      
    }
    nav ul li {
        padding: 1rem 1rem;
    }

    #toggler:checked ~ ul {
      border: 2px dashed red;
      right: -40vh;
    }
  }